/* 
    Created on : 2013-11-18, 10:07:18
    Author     : KWyszomierski
	KULER theme: https://kuler.adobe.com/Copy-of-1944mustang-color-theme-3167658/
*/
@font-face {
  font-family: 'PriceDown';
  src: url('../fonts/pricedow-webfont.eot');
  src: url('../fonts/pricedow-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pricedow-webfont.woff') format('woff'), url('../fonts/pricedow-webfont.ttf') format('truetype'), url('../fonts/pricedow-webfont.svg#pricedownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
#wrapper h2 {
  font-size: 140%;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}
#wrapper > #container > .content {
  background-color: #7e8aa2;
  min-height: 100%;
}
#container {
  min-height: 300px;
}
header {
  color: #ff9800;
  background-color: #000000;
}
header a {
  color: #ff9800;
  text-decoration: none;
  display: block;
  outline: 0;
}
header a:hover {
  color: #f6f6f6;
}
.navbar:after,
.navbar:before,
.navbar .navbar-inner:after,
.navbar .navbar-inner:before {
  content: "";
  display: table;
  clear: both;
}
.navbar .navbar-inner {
  min-height: 2.5em;
  padding-left: 3%;
  padding-right: 3%;
  border: 1px solid #263248;
}
.navbar .btn-navbar {
  background-color: #000000;
  padding: 10px 15px;
  float: right;
}
.navbar .btn-navbar:hover {
  background-color: #263248;
}
.navbar .btn-navbar .icon-bar {
  background-color: #ff9800;
  width: 20px;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}
.navbar .nav {
  margin-left: 0px;
  display: block;
  position: relative;
  float: left;
  list-style: none;
}
.navbar .nav.right {
  margin-right: 0px;
  float: right;
}
.navbar .nav li {
  line-height: 2.5em;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #000000;
  float: left;
}
.nav-animate {
  height: auto;
  overflow: visible;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.shadow-inner {
  -webkit-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3) inset;
  -ms-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3) inset;
  -o-box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3) inset;
}
button {
  border: 1px solid #ff9800;
  /*.border-radius(3px);*/
}
footer {
  color: #f6f6f6;
  background-color: #000000;
  width: 100%;
  clear: both;
}
footer .content {
  height: 5em;
  border: 1px solid #263248;
}
footer .authors {
  color: #555;
  font-size: 11px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#small_logo {
  color: #ff9800;
  font-family: "PriceDown", sans-serif;
  font-size: 180%;
  margin: 4px 0px;
  float: left;
}
#logo {
  color: #f6f6f6;
  font-family: "PriceDown", sans-serif;
  font-size: 600%;
  text-shadow: 0 0 0.1em #000000;
}
#logo h1:nth-child(2) {
  margin-top: -0.16em;
  margin-left: 0.4em;
}
#logo h1:nth-child(3) {
  margin-top: -0.16em;
  margin-left: 0.25em;
}
.info {
  color: #f6f6f6;
  background-color: #7e8aa2;
  position: absolute;
  top: 0px;
}
#slider {
  position: relative;
  overflow: hidden;
}
#slider #slide-cont {
  min-height: 100%;
  width: 400%;
  position: absolute;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
#slider .slide {
  min-height: 100%;
  width: 25%;
  position: absolute;
  top: 0px;
}
#slider .slide:nth-child(1) {
  left: 0%;
}
#slider .slide:nth-child(1) .picture {
  background-image: url("../images/slide1.jpg");
}
#slider .slide:nth-child(2) {
  left: 25%;
}
#slider .slide:nth-child(2) .picture {
  background-image: url("../images/slide2.jpg");
}
#slider .slide:nth-child(3) {
  left: 50%;
}
#slider .slide:nth-child(3) .picture {
  background-image: url("../images/slide3.jpg");
}
#slider .slide:nth-child(4) {
  left: 75%;
}
#slider .slide:nth-child(4) .picture {
  background-image: url("../images/slide4.jpg");
}
#slider .slide .picture {
  background-position: 50% 50%;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: absolute;
}
#slider .description {
  color: #f6f6f6;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 260px;
  padding: 15px 5% 20px 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0px;
}
#slider .arrow {
  background-image: url("../images/arrow.png");
  width: 50px;
  height: 50px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
#slider .arrow:hover {
  background-position: 0px 50px;
}
#slider .arrow.left {
  left: 2%;
}
#slider .arrow.right {
  right: 2%;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media (min-width: 980px) {
  .navbar .btn-navbar {
    display: none;
  }
  .nav-animate {
    height: auto !important;
    overflow: visible !important;
  }
  #slider .description {
    max-width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar .btn-navbar {
    display: none;
  }
  .nav-animate {
    height: auto !important;
    overflow: visible !important;
  }
  #slider .description {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .navbar .btn-navbar {
    display: block;
  }
  .navbar .nav {
    width: 100%;
    float: left !important;
  }
  .navbar .nav li {
    float: none;
  }
  .navbar .nav li:hover {
    border: 1px solid #263248;
  }
  .nav-animate {
    height: 0px;
    overflow: hidden;
    clear: both;
  }
  #slider .slide .picture {
    min-height: 0;
  }
  #slider .description {
    background-color: #263248;
    width: 90%;
    padding: 15px 5% 20px 5%;
  }
  #slider .arrow {
    display: none;
  }
}
