@import "main.less";

//================================================
//			CSS Styles
//================================================

body {
	background: #000;
	color: @color5;
	font-family: @secondaryFont;
	font-size: @baseFontSize;
}
#wrapper, #background{
	width: 100%;
	height: 100%;
	position: absolute;
	.background-radial-gradient(#3c2e20, 0%, #000000, 100%);
}
#background{
	z-index: -9999;
}
.nav{
	.menu{
		color: inherit;
		font-size: inherit;
		background: none;
		width: auto;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
		border: none;
		outline: 0;
		cursor: pointer;
		
	}
	li:hover{
		color: #fff;
	}
}