@import "main.less";

//================================================
//			CSS Styles
//================================================

#wrapper{
	th, td{
		text-align: left;
	}
	td{
		background: #000;
	}
	#client_list table{
		min-width: 250px;
		max-width: 100%;
		margin: 0 auto;
	}
}

input, .custom_select{
	color: @color5;
	font-size: 110%;
	background: @color1;
	width: 100%;
	display: block;
	padding: 7px 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid @color5;
	border-radius: 0;
	-webkit-appearance:none;
	.box-sizing(border-box);
	&:hover{
		background: @color1_2;
	}
}
.custom_select{
	&:after{
		display: inline-block;
		top: 0;
		right: 0;
		bottom: 0;
		content: 'V';
	}
}
#client_list label{
	padding: 2px 5px;
}

.radio_button{
	input[type="radio"]{
		width: 15px;
		height: 15px;
		padding: 0px;
		margin: 5px 0px 3px 0px;
		&:checked{
			background: @color5;
		}
	}
	td{
		padding-right: 10px;
	}
}

#window{
	h2{
		font-family: @primaryFont;
		font-size: 300% !important;
		font-weight: 100 !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		margin: 0px 0px 30px 30px;
	}
}

form{
	&#edit_form{
		width: 250px;
		padding-top: 50px;
		margin: 0 auto;
		p{
				font-size: 110%;
				padding: 4px 0px 2px 0px;
		}
	}
	&#searchForm{
		width: 625px;
		padding-top: 20px;
		margin: 0 auto;
		p{
			font-size: 110%;
	/*		background: @color1;
			padding: 3px 10px;
			border: 1px solid @color2;*/
		}
		input, p{
			display: inline-block;
		}	
		input{
			width: 120px;
			padding: 3px 10px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	&#resForm{
		table{
			min-width: 250px;
			max-width: 100%;
			margin: 0 auto;
			td{
				padding-left: 7px;
				padding-right: 7px;
			}
		}
	}
	&#raport{
		width: 50%;
		margin: 30px auto;
		textarea{
			color: @color3;
			font-family: @secondaryFont;
			background: @color1_2;
			width: 100%;
			max-width: 100%;
			min-height: 100px;
			height: 200px;
			margin: 0px 0px 60px 0px;
			border: 1px solid @color5;
			.box-sizing(border-box);
		}
	}
}


/* Datepicker */
#ui-datepicker-div{
	background: @color1;
	border: 1px solid @color2;
}
.ui-datepicker-prev,
.ui-datepicker-next{
	cursor: pointer;
	span{
		left: 0px;
		margin-left: 0px !important;
	}
}
.ui-datepicker-week-end{
	text-align: right;
}
.ui-state-hover,
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover{
	color: @color3;
	top: 2px !important;
}
.ui-datepicker .ui-datepicker-prev-hover{
	left: 2px !important;
}
.ui-datepicker .ui-datepicker-next-hover{
	right: 2px !important;
}
.ui-datepicker-calendar a.ui-state-default{
	color: @color2_2;
}
.ui-datepicker-calendar a.ui-state-active{
	color: @color4;
	background: @color1_2;
}
.ui-datepicker-calendar a.ui-state-hover{
	color: @color3;
	background: @color1_2;
}


//================================================
//			Media queries
//================================================

//			Big desktop
@media (min-width: 1200px) {

}

//			Medium desktop
@media (min-width: 980px){
	
}

//			Tablet landscape
@media (min-width: 768px) and (max-width: 979px) {

}

//			Phone landscape, Tablet protrait
@media (max-width: 767px) {
	table{
		width: 90%;
	}
	.radio_button{
		input[type="radio"]{
			width: 30px;
			height: 30px;
			display: inline-block;
		}
		label{
			margin-left: 7px;
			display: inline-block;
		}
	}
	form#raport{
		width: 75%;
	}
}

//			Phone portrait
@media (max-width: 480px){
	table{
		width: 100%;
	}
	.radio_button{
		input[type="radio"]{
			width: 30px;
			height: 30px;
			display: inline-block;
		}
		label{
			margin-left: 7px;
			display: inline-block;
		}
	}
	form#raport{
		width: 100%;
	}
}