@import "main.less";

//================================================
//			CSS Styles
//================================================

body {
	background: #000;
	color: @color5;
	font-family: @secondaryFont;
	font-size: @baseFontSize;
}
#wrapper, #background{
	width: 100%;
	height: 100%;
	position: absolute;
	.background-radial-gradient(#3c2e20, 0%, #000000, 100%);
}
#background{
	z-index: -9999;
}
#window{
	width: 350px;
	height: 300px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	h2{
		font-family: @primaryFont;
		font-size: 300%;
		font-weight: 100;
		padding-top: 5px;
		padding-bottom: 5px;
		margin: 0px 0px 30px 30px;
	}
	p{
		font-size: 110%;
	}
}
input{
	color: @color5;
	font-size: 110%;
	font-weight: 600;
	background: @color1;
	width: 100%;
	display: block;
	padding: 7px 15px;
	margin-top: 4px;
	margin-bottom: 7px;
	border: 1px solid @color5;
	.box-sizing(border-box);
	&:hover{
		background: @color1_2;
	}
	&#loginForm-login_btn{
		margin-top: 25px;
		cursor: pointer;
	}
}

#rectangles-up,
#rectangles-bottom{
	width: 50%;
	height: 50%;
	background-size: cover;
	position: absolute;
	z-index: -9999;
	img{
		width: 100%;
		height: auto;
	}
}


//================================================
//			Media queries
//================================================

//			Big desktop
@media (min-width: 1200px) {

}

//			Medium desktop
@media (min-width: 980px){
	
}

//			Tablet landscape
@media (min-width: 768px) and (max-width: 979px) {

}

//			Phone landscape, Tablet protrait
@media (max-width: 767px) {

}

//			Phone portrait
@media (max-width: 480px){
	#window{
		width: 100%;
	}
}