/* 
    Created on : 2013-11-18, 10:07:18
    Author     : KWyszomierski
	KULER theme: https://kuler.adobe.com/Copy-of-1944mustang-color-theme-3167658/
*/

//================================================
//			Main variables
//================================================

@font-face {
    font-family: 'PriceDown';
    src: url('../fonts/pricedow-webfont.eot');
    src: url('../fonts/pricedow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pricedow-webfont.woff') format('woff'),
         url('../fonts/pricedow-webfont.ttf') format('truetype'),
         url('../fonts/pricedow-webfont.svg#pricedownregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@primaryFont: "PriceDown", sans-serif;
@secondaryFont: Helvetica, Arial, sans-serif;
@baseFontSize: 1em;
@color1: #000000; @color1_2: #222;
@color2: #263248; @color2_2: #2F3E59;
@color3: #7e8aa2;
@color4: #f6f6f6;
@color5: #ff9800;

@headerHeight: 2.5em;
@footerHeight: @headerHeight * 2;
@containerMinheight: 300px;


//================================================
//			Vendor shortcut
//================================================

.border-radius(@radius){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.background-radial-gradient(@color_1, @opacity_1, @color_2, @opacity_2){
	background: -webkit-radial-gradient(center, ellipse cover, @color_1 @opacity_1,@color_2 @opacity_2);
	background: -o-radial-gradient(center, ellipse cover, @color_1 @opacity_1,@color_2 @opacity_2);
	background: -ms-radial-gradient(center, ellipse cover, @color_1 @opacity_1,@color_2 @opacity_2);
	background: radial-gradient(ellipse at center, @color_1 @opacity_1,@color_2 @opacity_2);
}
.box-sizing(@string){
	-webkit-box-sizing: @string;
	-moz-box-sizing: @string;
	-ms-box-sizing: @string;
	-o-box-sizing: @string;
	box-sizing: @string;
}
.box-shadow(@param_h_shadow, @param_v_shadow, @param_blur, @param_color, @param_inner){
	-webkit-box-shadow: @param_h_shadow @param_v_shadow @param_blur @param_color @param_inner;
	-moz-box-shadow: @param_h_shadow @param_v_shadow @param_blur @param_color @param_inner;
	-ms-box-shadow: @param_h_shadow @param_v_shadow @param_blur @param_color @param_inner;
	-o-box-shadow: @param_h_shadow @param_v_shadow @param_blur @param_color @param_inner;
	box-shadow: @param_h_shadow @param_v_shadow @param_blur @param_color @param_inner;
}
.filter(@option, @value){
	-webkit-filter: @option(@value);
	-moz-filter: @option(@value);
	-ms-filter: @option(@value);
	-o-filter: @option(@value);
	filter: @option(@value);
}
.reflect(@string){									//	@orientation valid values: scaleX, scaleY		@orientationMS valid values: FlipH, FlipV
	-webkit-transform: @string;
	-moz-transform: @string;
	-ms-transform: @string;
	-o-transform: @string;
	transform: @string;
}
.text-shadow(@param_right, @param_down, @param_blur, @param_color){
	text-shadow: @param_right @param_down @param_blur @param_color;
}
.transition(@param_property, @param_time, @param_easing){
	-webkit-transition: @param_property @param_time @param_easing;
	-moz-transition: @param_property @param_time @param_easing;
	-ms-transition: @param_property @param_time @param_easing;
	-o-transition: @param_property @param_time @param_easing;
	transition: @param_property @param_time @param_easing;
}
