@import "main.less";

//================================================
//			CSS Styles
//================================================

body {
	color: @color1;
	font-family: @secondaryFont;
	font-size: @baseFontSize;
}
#wrapper{
	h2{
		font-size: 140%;
		font-weight: 700;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
#wrapper > #container > .content{
	background-color: @color3;
	min-height: 100%;
}
#container{ 
	min-height: @containerMinheight;
}
header{
	color: @color5;
	background-color: @color1;
	a{
		&:hover{
			color: @color4;
		}
		color: @color5;
		text-decoration: none;
		display: block;
		outline: 0;
	}
}
.navbar{
	&:after, 
	&:before,
	.navbar-inner:after,
	.navbar-inner:before{
		content:"";
		display: table;
		clear: both;
	}
	.navbar-inner{
		min-height: @headerHeight;
		padding-left: 3%;
		padding-right: 3%;
		border: 1px solid @color2;
	}
	.btn-navbar{
		&:hover{
			background-color: @color2;
		}
		background-color: @color1;
		padding: 10px 15px;
		float: right;
		.icon-bar{
			background-color: @color5;
			width: 20px;
			height: 2px;
			margin-top: 4px;
			margin-bottom: 4px;
			display: block;
		}
	}	
	.nav{
		margin-left: 0px;
		display: block;
		position: relative;
		float: left;
		list-style: none;
		
		&.right{
			margin-right: 0px;
			float: right;
		}
		li{
			line-height: @headerHeight;
			padding-left: 8px;
			padding-right: 8px;
			border: 1px solid @color1;
			float: left;
		}
	}
}
.nav-animate{
	height: auto;
	overflow: visible;
	.transition(height, 0.5s, ease);
}
.animate{
	
}
.shadow-inner{
	.box-shadow(0px, 7px, 25px, rgba(0, 0, 0, 0.3), inset);
}
button{
	border: 1px solid @color5;
	/*.border-radius(3px);*/
}
footer{
	color: @color4;
	background-color: @color1;
	width: 100%;
	clear: both;
	.content{
		height: @footerHeight;
		border: 1px solid @color2;
	}
	.authors{
		color: #555;
		font-size: 11px;
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}
}
#small_logo{
	color: @color5;
	font-family: @primaryFont;
	font-size: 180%;
	margin: 4px 0px;
	float: left;
}
#logo{
	color: @color4;
	font-family: @primaryFont;
	font-size: 600%;
	.text-shadow(0, 0, 0.1em, @color1);
	h1:nth-child(2){
		margin-top: -0.16em;
		margin-left: 0.4em;
	}
	h1:nth-child(3){
		margin-top: -0.16em;
		margin-left: 0.25em;
	}
}
.info{
	color: @color4;
	background-color: @color3;
	position: absolute;
	top: 0px;
}

//================================================
//			Slider
//================================================

#slider{
	position: relative;
	overflow: hidden;
	#slide-cont{
		min-height: 100%;
		width: 400%;
		position: absolute;
		.transition(left, 0.5s, ease);
	}
	.slide{
		&:nth-child(1){
			left: 0%;
			.picture{
				background-image: url("../images/slide1.jpg");
			}
		}
		&:nth-child(2){
			left: 25%;
			.picture{
				background-image: url("../images/slide2.jpg");
			}
		}
		&:nth-child(3) {
			left: 50%;
			.picture{
				background-image: url("../images/slide3.jpg");
			}
		}
		&:nth-child(4) {
			left: 75%;
			.picture{
				background-image: url("../images/slide4.jpg");
			}
		}
		.picture{
			background-position: 50% 50%;
			background-size: cover;
			min-height: 100%;
			width: 100%;
			position: absolute;
		}
		min-height: 100%;
		width: 25%;
		position: absolute;
		top: 0px;
	}
	
	.description{
		color: @color4;
		background-color: rgba(0, 0, 0, 0.7);
		min-width: 260px;
		padding: 15px 5% 20px 30px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 0px;
	}
	.arrow{
		&:hover{
			background-position: 0px 50px;
		}
		background-image: url("../images/arrow.png");
		width: 50px;
		height: 50px;
		margin-top: -25px;
		position: absolute;
		top: 50%;
		cursor: pointer;
	}
	.arrow.left{
		left: 2%;
	}
	.arrow.right{
		right: 2%;
		.reflect(scaleX(-1));
	}
}

//================================================
//			Media queries
//================================================

//			Big desktop
@media (min-width: 1200px) {

}

//			Medium desktop
@media (min-width: 980px){
	.navbar .btn-navbar{
		display: none;
	}
	.nav-animate{
		height: auto !important;
		overflow: visible !important;
	}
	#slider .description{
		max-width: 50%;
		
	}
}

//			Tablet landscape
@media (min-width: 768px) and (max-width: 979px) {
	.navbar .btn-navbar{
		display: none;
	}
	.nav-animate{
		height: auto !important;
		overflow: visible !important;
	}
	#slider .description{
		max-width: 50%;
	}
}

//			Phone landscape Tablet protrait
@media (max-width: 767px) {
	.navbar .btn-navbar{
		display: block;
	}
	.navbar .nav{
		width: 100%;
		float: left !important;
	}
	.navbar .nav li{
		&:hover{
			border: 1px solid @color2;
		}
		float: none;
	}
	.nav-animate{
		height: 0px;
		overflow: hidden;
		clear: both;
	}
	#slider .slide .picture{
		min-height: 0;
	}
	#slider .description{
		background-color: @color2;
		width: 90%;
		padding: 15px 5% 20px 5%;
	}
	#slider .arrow{
		display: none;
	}
}

//			Phone portrait
@media (max-width: 480px){
	
}