<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<h:head>
		<ui:include src="template.xhtml"/>
		<title>Grand Rent Auto - Klienci</title>
		<link rel="stylesheet" href="css/edition.css"/>
	</h:head>
    <h:body>
		<div id="wrapper">
			<div id="window">
				<h2>Klienci</h2>
				<h:form id="client_list">
					<f:view>
						<h:dataTable value="#{clientBean.clients}" var="c">
							<h:column>
								<f:facet name="header">
									<h:outputText value="Imię" />
								</f:facet>
								<h:outputLabel value="#{c.firstName}" />
							</h:column>

							<h:column>
								<f:facet name="header">
									<h:outputText value="Nazwisko" />
								</f:facet>
								<h:outputLabel value="#{c.lastName}" />
							</h:column>

							<h:column>
								<f:facet name="header">
									<h:outputText value="Telefon" />
								</f:facet>
								<h:outputLabel value="#{c.phone}" />
							</h:column>

							 <h:column>
								 <f:facet name="header">
									<h:outputText value="Adres" />
								</f:facet>
								 <h:outputLabel value="#{c.address}" />
							</h:column>

							<h:column>
								<h:commandButton action="#{clientBean.removeClient(c.id)}" value="Usuń" />
							</h:column>

							<h:column>
								<h:commandButton action="#{clientBean.editClient(c.id)}" value="Edytuj" class="edit_btn" />
							</h:column>
						</h:dataTable>
					</f:view>
				</h:form>
			</div>
			<div>
				<h:form  id="edit_form">
					<p>Imię</p><h:inputText value="#{clientBean.firstName}"/>
					<p>Nazwisko</p><h:inputText value="#{clientBean.lastName}"/>
					<p>Adres</p><h:inputText value="#{clientBean.address}"/>
					<p>Telefon</p><h:inputText value="#{clientBean.phone}"/>
					<p>Login</p><h:inputText value="#{clientBean.login}"/>
					<p>Hasło</p><h:inputText value="#{clientBean.password}"/>
					<h:selectOneRadio value="#{clientBean.userType}" class="radio_button">
						<f:selectItem itemValue="A" itemLabel="Admin" />
						<f:selectItem itemValue="K" itemLabel="Klient" />
					</h:selectOneRadio>
					<h:commandButton action="#{clientBean.addClient()}" value="Dodaj/Zatwierdź"/>
				</h:form>
			</div>
		</div>
    </h:body>
</html>

