<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<h:head>
		<title>Grand Rent Auto - Login</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/login.css"/>
		<script src="js/libs/modernizr/modernizr.js"></script>
	</h:head>
    <h:body>
		<div id="wrapper">
			<div id="window">
				<h2>Login</h2>
				<h:form id="loginForm">
					<p>Username</p>
					<h:inputText value="#{userBean.login}" />
					<p>Password</p>
					<h:inputSecret value="#{userBean.password}" id="passwordField"/>
					<h:commandButton action="#{userBean.authenticate}" id="login_btn" value="Zaloguj"></h:commandButton>
				</h:form>
			</div>
		</div>
    </h:body>
</html>

