<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Grand Rent Auto - 404</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/mainmenu.css"/>
		<script src="js/libs/jquery/jquery.js"></script>
		<script src="js/libs/modernizr/modernizr.js"></script>
    </h:head>
    <h:body>
		<div id="background"></div>
        <div id="wrapper">
			
			<div id="logo">
				<h1>Grand</h1><h1>Rent</h1><h1>Auto</h1>
			</div>
			<img src="images/404_error.png" style="width: 100%; max-width: 1040px; position: absolute; top: 0; bottom:0; left: 0; right:0; margin: auto;"></img>
        </div>
    </h:body>
</html>

