<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<h:head>
		<f:metadata>
            <f:event type="preRenderView" listener="#{security.authenticate}" />
        </f:metadata>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/mainmenu.css"/>
		<script src="js/libs/jquery/jquery.js"></script>
		<script src="js/libs/modernizr/modernizr.js"></script>
		<script src="js/script.js"></script>
    </h:head>
		
    <h:body>
		<div id="background"></div>
		<header role="banner">
            <nav class="navbar" role="navigation">
                <div class="navbar-inner">
                    <button class="btn-navbar animated" data-target=".nav-animate" data-toggle="animate" type="button">
						<span class="icon-bar"></span>
                        <span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<div id="small_logo">
						<a href="index.xhtml">Grand Rent Auto</a>
					</div>
					<div class="nav-animate">
						<h:form class="nav right">
							<ul>
								<c:if test="#{userBean.client.userType == 'A'}">
								<li><h:commandButton class="menu" action="samochody" value="Samochody"/></li>
								<li><h:commandButton class="menu" action="klienci" value="Klienci"/></li>
								<li><h:commandButton class="menu" action="wypozyczenia" value="Wypożyczenia"/></li>
								</c:if>
								<li><h:commandButton class="menu" action="rezerwacja" value="Dokonaj rezerwacji"/></li>
								
							</ul>
						</h:form>
					</div>
				</div>
			</nav>
        </header>
	</h:body>
</html>

