<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<h:head>
		<title>Grand Rent Auto - Wypożyczenia</title>
		<ui:include src="template.xhtml"/>
		<link rel="stylesheet" href="css/edition.css"/>
		<link rel="stylesheet" href="css/jquery.ui.datepicker.css"/>
		<script src="js/libs/jqueryui/jquery-ui.js"></script>
		<script src="js/datepicker.js"></script>
	</h:head>
    <h:body>
		<div id="wrapper">
			<div id="window">
				<h2>Wypozyczenia</h2>
				<h:form id="client_list">
					<f:view>
						<h:dataTable value="#{rentalBean.rentals}" var="r">
							<h:column>
								<f:facet name="header">
									<h:outputText value="Marka i model" />
								</f:facet>
								<h:outputLabel value="#{r.car.model}" />
							</h:column>

							<h:column>
								<f:facet name="header">
									<h:outputText value="Numer rejestracyjny" />
								</f:facet>
								<h:outputLabel value="#{r.car.registrationNumber}" />
							</h:column>

							<h:column>
								<f:facet name="header">
									<h:outputText value="Imię" />
								</f:facet>
								<h:outputLabel value="#{r.client.firstName}" />
							</h:column>

							 <h:column>
								 <f:facet name="header">
									<h:outputText value="Nazwisko" />
								</f:facet>
								<h:outputLabel value="#{r.client.lastName}" />
							</h:column>
							
							<h:column>
								<f:facet name="header">
									<h:outputText value="Od" />
								</f:facet>
								<h:outputLabel value="#{r.startDate}" />
							</h:column>
							
							<h:column>
								<f:facet name="header">
									<h:outputText value="Do" />
								</f:facet>
								<h:outputLabel value="#{r.endDate}" />
							</h:column>

							<h:column>
								<h:commandButton action="#{rentalBean.removeRental(r.id)}" value="Usuń" />
							</h:column>

							<h:column>
								<h:commandButton action="#{rentalBean.updateRental(r.id)}" value="Edytuj" class="edit_btn" />
							</h:column>
							
							<h:column>
								<h:commandButton action="#{rentalBean.sendNotification(r)}" value="Wyślij powiadomienie" />
							</h:column>
						</h:dataTable>
					</f:view>
				</h:form>
				<h:form id="edit_form">
					<p>Klient</p>
					<h:selectOneMenu value="#{rentalBean.clientId}" class="custom_select">
						<f:selectItems value="#{rentalBean.clients}" var="c" itemLabel="#{c.firstName}" itemValue="#{c.id}"/>
					</h:selectOneMenu>
					<p>Auto</p>
					<h:selectOneMenu value="#{rentalBean.carId}" class="custom_select">
						<f:selectItems value="#{rentalBean.cars}" var="car" itemLabel="#{car.model}" itemValue="#{car.id}"/>
					</h:selectOneMenu>
					<p>Od:</p>
					<h:inputText value="#{rentalBean.startDate}" class="datepicker">
						<f:convertDateTime pattern="d-M-yyyy" />
					</h:inputText>
					<p>Do:</p>
					<h:inputText value="#{rentalBean.endDate}" class="datepicker">
						<f:convertDateTime pattern="d-M-yyyy" />
					</h:inputText>
					<h:commandButton action="#{rentalBean.addRental()}" value="Dodaj/Zatwierdź"/>
				</h:form>
				
				<h:form id="raport">
					<p>Raport</p>
					<h:commandButton action="#{rentalBean.generateReport}" value="Generuj raport xml wypożyczeń"/>
					<h:inputTextarea value="#{rentalBean.report}"/>
				</h:form>
			</div>
		</div>
    </h:body>
</html>

