/* 
    Created on : 2013-11-18, 10:07:18
    Author     : KWyszomierski
	KULER theme: https://kuler.adobe.com/Copy-of-1944mustang-color-theme-3167658/
*/
@font-face {
  font-family: 'PriceDown';
  src: url('../fonts/pricedow-webfont.eot');
  src: url('../fonts/pricedow-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pricedow-webfont.woff') format('woff'), url('../fonts/pricedow-webfont.ttf') format('truetype'), url('../fonts/pricedow-webfont.svg#pricedownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
